<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="all-products-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">Burgers</a>
                <a href="#" class="dropdown-item">Pizza</a>
                <a href="#" class="dropdown-item ">Chips</a>
                <a href="#" class="dropdown-item ">Other dishes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="meals-deals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meals & Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meals-deals-link">
                <a href="#" class="dropdown-item">Kids Meals</a>
                <a href="#" class="dropdown-item">Regular Meals</a>
                <a href="#" class="dropdown-item">Deals</a>
                <a href="#" class="dropdown-item">Daily Offers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="deserts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deserts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="deserts-link">
                <a href="#" class="dropdown-item">Milkshakes</a>
                <a href="#" class="dropdown-item">Crêpes</a>
                <a href="#" class="dropdown-item">Ice Creams</a>
                <a href="#" class="dropdown-item">Cookies & Donuts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="deserts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="deserts-link">
                <a href="#" class="dropdown-item">Drinks</a>
                <a href="#" class="dropdown-item">Dips</a>
                <a href="#" class="dropdown-item">New Products</a>
            </div>
        </li>
    </ul>
</div>