<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="d-block d-lg-none">
            <a class="nav-link text-black me-5" href="{% url 'home' %}" id="all-products-link">
                home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-black me-5" href="#" id="women-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                women
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="women-link">
                <a href="#" class="dropdown-item">new in</a>
                <a href="#" class="dropdown-item">dresses</a>
                <a href="#" class="dropdown-item ">coats& jackets</a>
                <a href="#" class="dropdown-item ">sweatshirts&hoodies</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black me-5" href="#" id="mmens-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                men
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mmens-link">
                <a href="#" class="dropdown-item">new in</a>
                <a href="#" class="dropdown-item">polo& t-shirts</a>
                <a href="#" class="dropdown-item">coats& jackets</a>
                <a href="#" class="dropdown-item">sweatshirts& hoodies</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black me-5" href="#" id="girls-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                girls
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="girls-link">
                <a href="#" class="dropdown-item">new in</a>
                <a href="#" class="dropdown-item">tops</a>
                <a href="#" class="dropdown-item">trousers& skirts</a>
                <a href="#" class="dropdown-item">shoes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black me-5" href="#" id="boys-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                boys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="boys-link">
                <a href="#" class="dropdown-item">new in</a>
                <a href="#" class="dropdown-item">tops</a>
                <a href="#" class="dropdown-item">trousers& shorts</a>
                <a href="#" class="dropdown-item">shoes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black me-5" href="#" id="baby-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                babies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="baby-link">
                <a href="#" class="dropdown-item">new in</a>
                <a href="#" class="dropdown-item">body suits</a>
                <a href="#" class="dropdown-item">sets</a>
            </div>
        </li>
    </ul>
</div>