<div class="toast my-toast show" role="alert">
  
    <div class="toast-header bg-success">
        <strong class="me-auto ml-2  text-white">Success!</strong>
        <!--
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span class="text-white float-right me-2 d-none"></span>
        </button>
    -->
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if total and not on_profile_page %}
        <p class="logo-font bg-white text-black py-1 ml-2">Your Bag ({{ product_count }})</p>
        <div class="bag-notification-wrapper">
            {% for item in bag_items %}
            <div class="row">
                <div class="col-3 my-1 ml-3">
                    {% if item.product.image %}
                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
                <div class="col-8">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small">Size: {% if item.size %} {{ item.size|title }} {% endif %}
                        {% if not item.size %} N/A {% endif %}</p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>